.header-container {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-base;
  color: $text-lightest;
}

.header-content {
  width: 100%;
  max-width: $max-width;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $gap-base * 2;
}

@keyframes hover-icon {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.header-button {
  @extend .btn-icon-base;
  fill: $text-lightest;
  @media (hover: hover) {
    &:hover {
      animation-name: hover-icon;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}
