{
  "presets": [
    ["@babel/preset-env", { "targets": { "esmodules": true } }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [],
  "env": {
    "test": {
      "plugins": ["babel-plugin-transform-vite-meta-env"]
    }
  }
}
