.modal-content-game-review {
  @extend .modal-content;
  align-items: center;
  max-width: 560px !important;
  top: -45px;
  position: absolute !important;
  padding: $padding-base !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.arrow-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  height: 50px;
}

.arrow-btn {
  @extend .btn-icon-base;
  position: relative;
  fill: $text-bubble;
  transform: rotate(-90deg);
}

.game-results-title {
  text-align: center;
}

.game-results-text {
  display: flex;
  flex-direction: column;
  gap: $gap-base;
  justify-content: center;
  align-items: center;
}

.game-results-definition {
  display: flex;
  flex-direction: column;
  gap: $gap-base;
  justify-content: start;
  align-items: flex-start;
  padding: $padding-base;
  background-color: $text-bubble-secondary;
  border-radius: $border-radius-medium;
  max-height: 150px;
  overflow-y: scroll;
}

.game-results-button-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.modal-content-game-results {
  align-items: center;
  max-width: 560px;
}
