.how-to-play-text-container {
  display: flex;
  flex-direction: column;
  gap: $gap-base * 2;
  @include small-height {
    gap: $gap-base;
  }
  width: 100%;
  max-width: 450px;
}

.how-to-play-examples-container {
  display: flex;
  flex-direction: column;
  gap: $gap-base * 2;
  @include small-height {
    gap: $gap-base;
  }
}

.how-to-play-examples {
  display: flex;
  flex-direction: column;
  gap: $gap-base;
  @include large-height {
    gap: $gap-base * 2;
  }
}

.how-to-play-example-word {
  display: flex;
  gap: $gap-base * 2;
}

.how-to-play-letter-box {
  padding: $padding-base;
  @extend .border;
  @extend .box-shadow;
  border-radius: $border-radius-medium;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include small-screen {
    width: 40px;
    height: 40px;
  }
  @include small-height {
    width: 35px;
    height: 35px;
  }
}

.modal-content-how-to-play {
  align-items: flex-start;
}
