.results-title {
  text-align: center;
}

.results-text {
  display: flex;
  flex-direction: column;
  gap: $gap-base;
  justify-content: center;
  align-items: center;
}

.results-def {
  display: flex;
  flex-direction: column;
  gap: $gap-base;
  justify-content: center;
  align-items: flex-start;
}

.results-btn-con {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
