.modal-content-centered {
  @extend .modal-content;
  height: 90%;
  max-height: 200px;
  max-width: 350px;
  position: relative;
  padding: $padding-md;
  align-items: center;
  text-align: center;
}

.modal-content-info {
  @extend .modal-content;
  position: relative;
  padding: $padding-lg;
  @include small-screen {
    padding: $padding-md $padding-sm;
    width: 100%;
  }
  @include small-height {
    gap: $gap-sm;
    padding: $padding-sm $padding-sm;
  }
  @include large-height {
    gap: $gap-xl;
  }
}
