@keyframes eye-ball-game-anim {
  0% {
    top: 0%;
    left: 0%;
  }

  10% {
    top: 15%;
    left: 0%;
  }

  20% {
    top: 15%;
    left: 35%;
  }

  30% {
    top: 25%;
    left: 35%;
  }

  40% {
    top: 0%;
    left: 35%;
  }

  60% {
    top: 0%;
    left: 0%;
  }

  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes eye-ball-keyboard-anim {
  0% {
    top: 0%;
    left: 35%;
  }

  10% {
    top: 0%;
    left: 0%;
  }

  20% {
    top: 15%;
    left: 0%;
  }

  30% {
    top: 15%;
    left: 35%;
  }

  40% {
    top: 25%;
    left: 35%;
  }

  50% {
    top: 25%;
    left: 30%;
  }

  80% {
    top: 0%;
    left: 30%;
  }

  100% {
    top: 0%;
    left: 35%;
  }
}

.eyes-con {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap-base * 3;
}

.eyes-base {
  min-height: 30px;
  max-height: 80px;
  height: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  border-radius: 50%;
}

.eye-border {
  @extend .border;
  @extend .eyes-base;
  background-color: $monster-eyes;
}

.eye-ball {
  min-width: 15px;
  min-height: 15px;
  height: 70%;
  aspect-ratio: 1;
  background-color: $border;
  border-radius: 50%;
  position: absolute;
}

.eye-ball-game {
  @extend .eye-ball;
  animation-name: eye-ball-game-anim;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.eye-ball-keyboard {
  @extend .eye-ball;
  animation-name: eye-ball-keyboard-anim;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.eyes-game-over {
  @extend .eyes-base;
  border: 3px solid $border;
  border-bottom-color: transparent;
  border-left-color: transparent;
  div {
    display: none;
  }
}

.eyes-happy {
  @extend .eyes-game-over;
  transform: rotate(-45deg);
}

.eyes-sad {
  @extend .eyes-game-over;
  transform: rotate(135deg);
}
