.feet-con {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.foot {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  position: relative;
}

.feet-con-large {
  @extend .feet-con;
  min-height: 40px;
  max-height: 50px;
  padding: 0 $padding-base * 2;
}

.foot-large {
  @extend .foot;
  max-height: 50px;
  max-width: 50px;
  min-height: 30px;
  min-width: 30px;
}

.feet-con-small {
  @extend .feet-con;
  min-height: 13px;
  max-height: 10px;
  padding: 0 10px;
}

.foot-small {
  @extend .foot;
  max-height: 10px;
  max-width: 10px;
  min-height: 5px;
  min-width: 5px;
  div {
    box-shadow: none !important;
    background-color: $text-darkest !important;
    animation: none !important;
  }
}

@mixin vertical-feet-animation($anim-direction, $duration, $delay) {
  animation-name: vertical-feet;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: $anim-direction;
  animation-delay: $delay;
}

@mixin horizontal-feet-animation($anim-direction, $duration, $delay) {
  animation-name: horizontal-feet;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: $anim-direction;
  animation-delay: $delay;
}

@mixin pts-base($is-vertical) {
  position: absolute;
  @extend .box-shadow;
  @if ($is-vertical == true) {
    height: 100%;
    width: 40%;
  } @else {
    width: 100%;
    height: 40%;
  }
}

.left-horizontal-part {
  @include pts-base(false);
  border-radius: 50px 0 0 50px;
  bottom: 4px;
  left: 0;
  right: 0;
}

.left-vertical-part {
  @include pts-base(true);
  bottom: 0;
  right: 0;
  top: -4px;
}

.right-horizontal-part {
  @include pts-base(false);
  border-radius: 0 50px 50px 0;
  bottom: 4px;
  left: 0;
  right: 0;
}

.right-vertical-part {
  @include pts-base(true);
  border-radius: 0 0 50px 50px;
  bottom: 0;
  left: 0;
  top: -4px;
}

.game-left-horizontal-part {
  @extend .left-horizontal-part;
  background-color: $monster-game;
  @include horizontal-feet-animation(normal, 20s, 0.5s);
}

.game-left-vertical-part {
  @extend .left-vertical-part;
  background-color: $monster-game;
  @include vertical-feet-animation(normal, 20s, 0.5s);
}

.game-right-horizontal-part {
  @extend .right-horizontal-part;
  background-color: $monster-game;
  @include horizontal-feet-animation(normal, 20s, 0s);
}

.game-right-vertical-part {
  @extend .right-vertical-part;
  background-color: $monster-game;
  @include vertical-feet-animation(normal, 20s, 0s);
}

.keyboard-left-horizontal-part {
  @extend .left-horizontal-part;
  background-color: $monster-keyboard;
  @include horizontal-feet-animation(reverse, 25s, 0s);
}

.keyboard-left-vertical-part {
  @extend .left-vertical-part;
  background-color: $monster-keyboard;
  @include vertical-feet-animation(reverse, 25s, 0s);
}

.keyboard-right-horizontal-part {
  @extend .right-horizontal-part;
  background-color: $monster-keyboard;
  @include horizontal-feet-animation(reverse, 25s, 0.5s);
}

.keyboard-right-vertical-part {
  @extend .right-vertical-part;
  background-color: $monster-keyboard;
  @include vertical-feet-animation(reverse, 25s, 0.5s);
}
