.background-con {
  height: 100%;
  width: 100%;
  background-color: $sky;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.sun {
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  aspect-ratio: 1;
  height: auto;
  width: 10%;
  background-color: $sun;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 10%;
  z-index: 1;
}

.hills-con {
  position: absolute;
  bottom: 0;
  top: 40%;
  width: 100%;
  z-index: 1;
  overflow: clip;
  display: flex;
  justify-content: center;

  .hill {
    position: absolute;
    bottom: 0;
    min-height: 40vh;
  }

  .hill-closest {
    @extend .hill;
    fill: $hill-closest;
  }

  .hill-middle {
    @extend .hill;
    fill: $hill-middle;
  }

  .hill-furthest {
    @extend .hill;
    fill: $hill-furthest;
  }
}
