.modal-con {
  position: absolute;
  inset: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-base;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}

.modal-con-no-bg {
  background-color: rgba(0, 0, 0, 0) !important;
  backdrop-filter: none;
}

.modal-content {
  @extend .box-shadow;
  @extend .border;
  border-radius: $border-radius-large;
  background-color: $text-bubble;
  width: 90%;
  height: fit-content;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: $gap-base * 4;
  cursor: default;
}

.modal-content-statistics {
  @extend .modal-content;
  position: relative;
  padding: $padding-base * 5;
  align-items: center;
  @include small-screen {
    padding: $padding-base * 3 $padding-base * 2;
    width: 100%;
  }
  @include small-height {
    gap: $gap-base * 2;
    padding: $padding-base * 2 $padding-base * 2;
  }
  @include large-height {
    gap: $gap-base * 6;
  }
}

.modal-content-howto {
  @extend .modal-content;
  position: relative;
  padding: $padding-base * 5;
  align-items: flex-start;
  @include small-screen {
    padding: $padding-base * 3 $padding-base * 2;
    width: 100%;
  }
  @include small-height {
    gap: $gap-base * 2;
    padding: $padding-base * 2 $padding-base * 2;
  }
  @include large-height {
    gap: $gap-base * 6;
  }
}

.modal-content-results {
  @extend .modal-content;
  position: fixed;
  padding: $padding-base * 3;
  align-items: center;
  width: 700px;
  @include small-height {
    gap: $gap-base * 2;
  }
  @include medium-height {
    width: 350px;
  }
  @include large-height {
    gap: $gap-base * 6;
  }
  @include small-screen {
    width: 270px;
  }
}

.modal-content-loading {
  @extend .modal-content;
  height: 90%;
  max-height: 200px;
  max-width: 350px;
  position: relative;
  padding: $padding-base * 3;
  align-items: center;
  text-align: center;
}

.see-results {
  inset: 0 !important;
  margin: auto !important;
}

.review-game {
  right: -672px !important;
  @include medium-height {
    right: -327px !important;
  }
  @include small-screen {
    right: -246px !important;
  }
}

.btn-close {
  @extend .icon-btn;
  position: absolute;
  top: $padding-base;
  right: $padding-base;
  fill: $text-bubble;
}

.btn-arrow {
  @extend .icon-btn;
  position: absolute;
  fill: $text-bubble;
  left: -7px;
}

.modal-title {
  @extend .title-text;
  font-size: 3rem;
  color: $text-darkest;
  @include small-screen {
    font-size: 2rem;
  }
}
