@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
$font-primary: "Rubik Vinyl";
$font-secondary: "Nunito";
$monster-game: #fef600;
$monster-keyboard: #0095f4;
$monster-mouth: #f93938;
$monster-teeth: #fffb80;
$monster-eyes: #ffffff;
$border: #000000;
$letter-correct-spot: #56f500;
$letter-wrong-spot: #fec600;
$letter-no-spot: #000000;
$hill-closest: #4cd700;
$hill-middle: #00a539;
$hill-furthest: #00691f;
$text-bubble: #fffb80;
$text-lightest: #ffffff;
$text-darkest: #000000;
$sun: #fec600;
$cloud: #ffffff;
$sky: #6cd2fc;
$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;
$padding-base: 10px;
$gap-base: 10px;
$max-width: 1000px;

$breakpoints: (
  "small": 480px,
  "large": 1008px,
);
