@import "variables";
@import "mixins";
@import "cloud";
@import "background";
@import "header";
@import "game";
@import "monster-mouths";
@import "monster-eyes";
@import "monster-feet";

html,
#root,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.game-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: $padding-base;
}

.border {
  border: 2px solid $border;
}

.box-shadow {
  box-shadow: 5px 5px 0;
}
