@import "variables";
@import "mixins";
@import "cloud";
@import "background";
@import "header";
@import "game";

html,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.game-content {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: $padding-base;
}
