.loading-game-container {
  display: flex;
  width: 100%;
  gap: $gap-base * 2;
  justify-content: center;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1);
  }
  12% {
    transform: scale(0.9, 1.1);
  }
  25% {
    transform: scale(1.1, 0.9);
  }
  37% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.monsters-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-end;
  align-items: center;
  animation: bounce 1s infinite;
}

.little-game-monster-container {
  @extend .monsters-container;
}

.little-keyboard-monster-container {
  @extend .monsters-container;
  animation-delay: 0.5s;
}

.little-game-monster {
  width: 55px;
  height: 60px;
  background-color: $text-darkest;
  border-radius: $border-radius-small;
}

.little-keyboard-monster {
  width: 70px;
  height: 40px;
  background-color: $text-darkest;
  border-radius: $border-radius-small;
}
