.cloud-pt {
  height: auto;
  width: 35%;
  background-color: $cloud;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.cloud-pt-1 {
  @extend .cloud-pt;
  bottom: 15%;
  left: 15%;
}

.cloud-pt-2 {
  @extend .cloud-pt;
  bottom: 25%;
  left: 35%;
}

.cloud-pt-3 {
  @extend .cloud-pt;
  bottom: 10%;
  right: 15%;
}

@mixin cloud($max, $min, $width, $bottom-radius, $opacity, $top-position) {
  max-height: $max;
  max-width: $max;
  min-height: $min;
  min-width: $min;
  aspect-ratio: 1;
  height: auto;
  width: $width;
  position: absolute;
  top: $top-position;
  z-index: 2;
  opacity: $opacity;

  .cloud-bottom {
    height: 35%;
    width: 100%;
    background-color: $cloud;
    border-radius: $bottom-radius;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@keyframes small-moving-cloud {
  0% {
    left: 110%;
    top: 10%;
  }
  40% {
    top: 15%;
  }
  50% {
    top: 10%;
  }
  75% {
    top: 5%;
  }
  100% {
    left: -50%;
    top: 10%;
  }
}

@keyframes large-moving-cloud {
  0% {
    left: 110%;
  }
  100% {
    left: -50%;
  }
}

.small-cloud {
  @include cloud(220px, 150px, 15%, 50px, 100%, 10%);
  animation-name: small-moving-cloud;
  animation-direction: alternate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.23, 1.49, 0.82, -0.19);
  @include large-screen {
    animation-duration: 120s;
  }
  @include small-screen {
    animation-duration: 30s;
  }
}

.large-cloud {
  @include cloud(600px, 400px, 40%, 100px, 50%, -180px);
  animation-name: large-moving-cloud;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  @include large-screen {
    animation-duration: 100s;
  }
}
