.btn-icon-base {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
  @include large-height {
    max-width: 40px;
    max-height: 40px;
  }
  @include large-screen {
    max-width: 40px;
    max-height: 40px;
  }
}

.btn-close {
  @extend .btn-icon-base;
  position: absolute;
  top: $padding-base;
  right: $padding-base;
  fill: $text-bubble;
}

.btn-primary {
  @extend .border;
  @extend .box-shadow;
  @extend .text-btn;
  border-radius: $border-radius-medium;
  background-color: $text-bubble;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
