$monster-game: #fef600;
$monster-keyboard: #0095f4;
$monster-mouth: #f93938;
$monster-teeth: #fffb80;
$monster-eyes: #ffffff;
$border: #000000;
$letter-correct-spot: #56f500;
$letter-wrong-spot: #fec600;
$letter-no-spot: #000000;
$hill-closest: #4cd700;
$hill-middle: #00a539;
$hill-furthest: #00691f;
$text-bubble: #fffb80;
$text-bubble-secondary: #ffe75c;
$text-lightest: #ffffff;
$text-darkest: #000000;
$sun: #fec600;
$cloud: #ffffff;
$sky: #6cd2fc;
