$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-lg: 12px;
$padding-xs: 10px;
$padding-sm: 20px;
$padding-md: 30px;
$padding-lg: 50px;
$gap-xs: 5px;
$gap-sm: 10px;
$gap-md: 15px;
$gap-lg: 25px;
$gap-xl: 30px;
$max-width: 1000px;
$max-height: 850px;

$breakpoints: (
  "small": 480px,
  "large": 1280px,
);
