@import "./global/variables";
@import "./global/colors";
@import "./global/mixins";
@import "./global/fonts";
@import "./global/shared";
@import "./global/animations";
@import "./global/buttons";
@import "./components/background-elements/cloud";
@import "./components/background-elements/hills";
@import "./components/buttons/close-button";
@import "./components/buttons/primary-button";
@import "./components/features/background";
@import "./components/features/game";
@import "./components/features/header";
@import "./components/features/monster-body";
@import "./components/loaders/loading-game";
@import "./components/loaders/loading-secondary";
@import "./components/modals/how-to-play-modal";
@import "./components/modals/game-results-modal";
@import "./components/modals/statistics-modal";
@import "./components/modals/warning-modal";
@import "./components/monsterbody-elements/game-monster-mouth";
@import "./components/monsterbody-elements/keyboard-monster-mouth";
@import "./components/monsterbody-elements/monster-eyes";
@import "./components/monsterbody-elements/monster-feet";
@import "./components/monsterbody-elements/monsterbody-elements-shared";
@import "./components/pages/main-page";
@import "./components/templates/modal-container";
@import "./components/templates/page-wrapper";

html,
#root,
body {
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: $text-darkest;
}
