@import "./global/variables";
@import "./global/colors";
@import "./global/mixins";
@import "./global/fonts";
@import "./global/animations";
@import "./components//buttons/buttons";
@import "./components/features/cloud";
@import "./components/features/background";
@import "./components/features/header";
@import "./components/features/game";
@import "./components/features/monster-mouths";
@import "./components/templates/monster-eyes";
@import "./components/templates/monster-feet";
@import "./components/features/monster-body";
@import "./global/modals";
@import "./components/modals/howto";
@import "./components/modals/stats";
@import "./components/modals/results";
@import "./components/loaders/loading";
@import "./global/shared";

html,
#root,
body {
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: $text-darkest;
}
